@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@400;500;700&family=Roboto&display=swap');
*{
margin: 0;
padding: 0;
box-sizing: border-box;
background-color: #616465;
font-family: "Roboto", sans-serif;
color: #fff;
}